SUPABASE_URL=https://mhwnwbnwbbvirimbaorn.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1od253Ym53YmJ2aXJpbWJhb3JuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzgwNzEzMCwiZXhwIjoyMDkzMzgzMTMwfQ.ctFh4YObnaheiXkbJNhidiIlduEzmoHUxQVun95YEfo