NEXT_PUBLIC_SUPABASE_URL=https://mhwnwbnwbbvirimbaorn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1od253Ym53YmJ2aXJpbWJhb3JuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MDcxMzAsImV4cCI6MjA5MzM4MzEzMH0.ewiS_nOLWC8fwN4e51fV4hdR8wsg_Txrr9VeCII9ME8
